[submodule "mcstatus"]
path = lib/mcstatus
url = https://github.com/joodicator/mcstatus

[submodule "pyCraft"]
path = lib/pyCraft
url = https://github.com/ammaraskar/pyCraft

[submodule "mcmapimg"]
path = plugins/mapimg/mcmapimg
url = https://github.com/joodicator/mcmapimg
